/* common */

body {
  margin: 0;

}

h1,
h2,
p {
  margin: 0;
}



img {
  vertical-align: bottom;
}

/* header */

header {
  background: #fff;
}

header .container {
  width: 450px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
}


header .container div + div {
  margin-left: 32px;
}

header a {
  color: inherit;
}

a:hover {

}

header h1 {
  font-weight: normal;
  font-size: 24px;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li + li {
  margin-left: 8px;
}

header .icon {
  border-radius: 50%;
}



/* main */

main {
  background: #efefef;
}

main  img { 
  width: 160px;
}

main .container {
  width: 450px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  align-items: center;
    /* outline: 1px solid red; */
}


main .container div + div {
  margin-left: 32px;
}


main h1 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 60px 0;
  /* margin: 60px 0; */
  /* background: pink;
  border-bottom: 1px solid red; */

}

main h2 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 16px;
}

main p {
  line-height: 1.8;
  margin-top: 16px;

}

main ul {
  list-style: square;
  padding: 0;
  line-height: 1.8;
  display: inline-block;
  margin-top: 16px;
}

main section + section {
  margin-top: 60px;
}


/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}

